.keyboard{
    text-align: center;
 }
 .keyboard-ul-list > button{
    text-align: center;
    height: 4.5rem; 
    width: 4.5rem; 
    font-size: xx-large; 
    font-weight: bolder;
    font-family: cursive;
    margin: 0.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    
 }
 
 .keyboard-ul-list-digits > button {
    height: 4.5rem; 
    width: 4.5rem; 
    font-size: xx-large; 
    font-weight: bolder;
    font-family: cursive;
    margin: 0.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
 }

